# https://laduni74.blogspot.com

Makefile.in
/pertanian
/cara-mengolah-lahan
/membuat-mikoriza
/pertisida-nabati
/mengatasi-antraknsa

# https://laduni74.blogspot.com

autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

https://laduni74.blogspot.com

/ltmain.sh

# Generated Makefile 
# (meta build system like autotools, 
# can automatically generate from config.status script
# (which is called by configure script))
Makefile
